body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#about-container {
  display: flex;
  width: 20%;
  margin-left: 40%;
}

#about-button {
  padding: 8px 16px;
  margin-left: 2em;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

#expelled-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 800px;
}

#expelled-table th,
#expelled-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#expelled-table th {
  background-color: #f2f2f2;
}

#expelled-table tr:hover {
  background-color: #f5f5f5;
}

#expelled-button {
  padding: 8px 16px;
  margin-left: 2em;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

h1 {
  margin: 20px 0;
  text-align: center;
}

.filters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.filters-container label {
  font-size: 18px;
  margin-right: 10px;
}

.filters-container select,
.filters-container input[type="text"] {
  font-size: 18px;
  padding: 5px;
  border: 1px solid #888;
  border-radius: 5px;
}

.filters-container select {
  background-color: #fff;
}

.filters-container input[type="text"] {
  background-color: #f9f9f9;
  width: 250px;
}

table {
  border-collapse: collapse;
  margin: 20px auto;
  width: 90%;
}

thead {
  background-color: #ddd;
}

thead th {
  border: 1px solid #888;

  padding: 10px;
}

tbody td {
  border: 1px solid #888;
  padding: 10px;
  cursor: pointer;
}

#option {
  margin-right: 1em;
}

/* ****** STAR ****** */

[data-field="star"] {
  text-align: center;
  cursor: pointer;
  min-width: 2em;
}

/****** WINNER ******/
[data-field="winner"][data-winner="false"] {
  filter: grayscale(100%);
  cursor: pointer;
}
