@font-face {
  font-family: myFont;
  src: url("Stardew_Valley.ttf");
}

html {
  background-image: url(./styleimages/stars1.gif);
}

body {
  font-family: myFont;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

select#option {
  font-family: myFont;
  font-size: 20px;
}

input#search {
  font-family: myFont;
  font-size: 20px;
}

label {
  color: white;
}

.expelled {
  background-color: #222f5b;
}

#about-container {
  display: flex;
  width: 20%;
  margin-left: 40%;
}

#student-table {
  background-color: bisque;
  border: solid white;
}

.titlebox {
  background-color: bisque;
  margin: 3em;
  border: 3px solid palevioletred;
}

#currentDateTime {
  float: center;
  padding: 0.3em;
  margin: 0;
  padding: 0;
  color: white;
}

.hogwartsLogo {
  display: block;
  width: 4%;
  margin: 0 auto;
  margin-top: 1em;
}

.time-date-container {
  text-align: center; /* Center the content horizontally */
  margin: 20px 0; /* Adjust the margin as desired */
}

#about-button {
  font-family: myFont;
  padding: 8px 16px;
  margin-left: 2em;
  font-size: 20px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

#about-button:hover {
  padding: 8px 16px;
  margin-left: 2em;
  background-color: black;
  color: white;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  cursor: pointer;
}

#about-container {
  background-color: bisque;
  padding: none;
  color: rgb(115, 25, 25);
}

.student-popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.studentInfoPopup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  background-color: rgb(108, 27, 201);
  color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

p#popup-details {
  text-align: center;
}

h2#popup-name {
  color: rgb(255, 255, 255);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#expelled-table {
  display: none;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 800px;
}

#expelled-table th,
#expelled-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#expelled-table th {
  background-color: #f2f2f2;
}

#expelled-table tr:hover {
  background-color: #f5f5f5;
}

#expelled-button {
  display: none;
  padding: 8px 16px;
  margin-left: 2em;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

h1 {
  margin: 20px 0;
  text-align: center;
  color: brown;
}

h2 {
  margin: 20px 0;
  text-align: center;
  color: brown;
}

.filters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.filters-container label {
  font-size: 18px;
  margin-right: 10px;
}

.filters-container select,
.filters-container input[type="text"] {
  font-size: 18px;
  padding: 5px;
  border: 1px solid #888;
  border-radius: 5px;
}

.filters-container select {
  background-color: #fff;
}

.filters-container input[type="text"] {
  background-color: #f9f9f9;
  width: 250px;
}

table {
  border-collapse: collapse;
  margin: 20px auto;
  width: 90%;
}

thead {
  background-color: #5d23d0;
  color: white;
}

thead th {
  border: 1px solid #888;

  padding: 10px;
}

tbody td {
  border: 1px solid #888;
  padding: 10px;
  cursor: pointer;
}

#option {
  margin-right: 1em;
}

.gryffindor {
  background-color: #740001;
  color: #f0ba2b;
}

.slytherin {
  background-color: #1a472a;
  color: #aaaaaa;
}

.hufflepuff {
  background-color: #ffdb00;
  color: black;
}

.ravenclaw {
  background-color: #222f5b;
  color: #e4a548;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

/*THIS IS ALL THE STYLING FOR THE STUDENT INFO POPUP*/

/* Add styles for student details */
.student-info {
  display: flex;
  align-items: center;
}

.student-photo {
  margin-right: 20px;
}

.student-photo img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

/* Apply theme colors to the popup based on the house */
.popup.gryffindor {
  background-color: #740001;
  color: #f0ba2b;
}

.popup.slytherin {
  background-color: #1a472a;
  color: #aaaaaa;
}

.popup.hufflepuff {
  background-color: #ffdb00;
  color: black;
}

.popup.ravenclaw {
  background-color: #222f5b;
  color: #e4a548;
}

/* Add styles for student details */
.student-info {
  display: flex;
  align-items: center;
}

.student-photo {
  margin-right: 20px;
}

.student-photo img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.popupclose {
  cursor: pointer;
  float: right;
}

/* ****** STAR ****** */

[data-field="star"] {
  text-align: center;
  cursor: pointer;
  min-width: 2em;
}

/****** WINNER ******/
[data-field="winner"][data-winner="false"] {
  filter: grayscale(100%);
  cursor: pointer;
}
